#contact_info_div{
	width:360px;
	padding:10px;
	margin:10px;
	float: right;
	font-size:17px;
	color:#888888;
	font-weight: bold;
}

#contact_form_div{
	width:358px;
	font-size:17px;
	color:#888888;
	font-weight: bold;
	
	border-color: #888888;
	border-style:solid;
	border-width: 0px;
	border-right-width: 2px;
}

#contact_form{
	width:358px;
	padding:10px;
	margin:10px;
	float: left;
	

}

#contact_header{
	font-size:22px;
	color: #ff99cc;
	font-weight: bold;
	float:top;
}

.form_row{
	width:358px;
	height: 60px;
}

.form_row_name{
	width:358px;
}

.form_row_input{
	width:358px;
}

.contactfield{
	width:340px;
}

#form_row_input_textarea{
	height: 140px;
}

#sendbutton{

}
